GCP_PROJECT_ID=your GCP project ID
GCP_REGION=the GCP region you will be using (e.g. `us-central1`)
GCP_BUCKET_NAME=the name of a GCS bucket you created!
PIPELINE_ROOT_PATH=gs://YOUR-BUCKET/pipeline_root
DEFAULT_INPUT_COLUMN=
DEFAULT_TARGET_COLUMN=
LOCAL_TMP_DIR=./tmp
GCP_ENDPOINT_ID=
GCP_PROJECT_NUMBER=
LANGFUSE_SECRET_KEY= 
LANGFUSE_PUBLIC_KEY= 
LANGFUSE_BASE_URL=